@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;400&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: #333;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

header {
  padding: 30px 30px 0;
  margin-bottom: 30px;
}

main {
  align-self: center;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 30px;
}

footer {
  padding: 30px;
}

a {
  transition: color 0.5s linear;
}

.profile {
  display: flex;
  align-items: center;
}

.profile .user-image {
  margin-right: 10px;
}

.profile .user-profile__name {
  font-size: 16px;
}

.profile .user-profile__username a {
  font-size: 12px;
  font-weight: 100;
  color: #666;
  text-decoration: none;
}

.profile .user-profile__username a:hover {
  color: #660099;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item a {
  margin-right: 30px;
  color: #333;
  text-decoration: none;
}

.nav-item a:hover {
  color: #660099;
  text-decoration: underline;
}

.nav-item:last-child {
  margin-right: 0;
}

h1 {
  display: inline-block;
  font-family: "Cookie", cursive;
  font-size: 60px;
  position: relative;
}

h1:after,
h1:before {
  font-size: 12px;
  opacity: 0.8;
  position: absolute;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

h1:before {
  content: "<h1>";
  left: -30px;
}

h1:after {
  content: "</h1>";
  right: -30px;
  bottom: 0;
}

.self .description {
  font-size: 18px;
}

.self .description--fadded {
  color: #666;
}

.self a {
  color: #660099;
}

.self a:hover {
  color: #333;
}
